## PI 3: Análisis de datos - Accidentes de Aviones

1- **EDA**

Primeramente se procede a realizar Análisis Exploratorio de datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

Letura del dataset proporcionado y el adicional, para el dataset adicional se obtuvo de la página:<br>
>
https://www.baaa-acro.com/crash-archives?created=1900-01-01&created_1=2022-11-09&field_crash_region_target_id=All&field_crash_country_target_id&field_crash_registration_target_id&field_crash_aircraft_target_id&field_crash_operator_target_id&field_crash_cause_target_id=12990&field_crash_zone_target_id&field_crash_site_type_target_id=All&field_crash_phase_type_target_id=All&field_crash_flight_type_target_id=All&field_crash_survivors_value=All&field_crash_city_target_id&page=511

In [2]:
df = pd.read_csv("AccidentesAviones.csv", sep=',', encoding="UTF-8")

#Voy leendo el dataset adicional
df1 = pd.read_csv("HumanFactor.csv", sep=',', encoding="UTF-8")

df = df.drop(['Unnamed: 0'], axis=1)
# Valores unicos
#df.info()
#df.duplicated().sum()
#df.nunique()
df.columns

Index(['fecha', 'HORA declarada', 'Ruta', 'OperadOR', 'flight_no', 'route',
       'ac_type', 'registration', 'cn_ln', 'all_aboard', 'PASAJEROS A BORDO',
       'crew_aboard', 'cantidad de fallecidos', 'passenger_fatalities',
       'crew_fatalities', 'ground', 'summary'],
      dtype='object')

Verificación del dataset adicional que lo asigne como: F1 = Human Factor

In [3]:
df1.isna().sum()
df1.head()
df1 = df1.drop(['Unnamed: 7'], axis=1)
df1 = df1.drop(['Image'], axis=1)
df1.sample(7)
df1.columns

Index(['Date', 'Operator', 'A/C Type', 'Location', 'Fatalities',
       'Registration'],
      dtype='object')

In [4]:
df.sample(5)

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
4058,"November 14, 1996",1302,"Bolchaïa Pyssa, Russia",Komi Avia,?,Most Pyssa - Koslan,Antonov AN-2,RA-40309,1G221-39,15,13,2,14,13,1,0,Lost altitude and crashed while en route in po...
3543,"March 10, 1989",1209,"Dryden, Ontario, Canada",Air Ontario,1363,Dryden - Winnipeg,Fokker F-28 Fellowship 1000,C-FONF,11060,69,65,4,24,21,3,0,"While flying from Thunder Bay, Ontario to Winn..."
4237,"November 12, 1999",1113,"Near Pristina, Kosovo",Si Fly - U.N. charter,3275,Rome - Pristina,Aerospatiale Alenia ATR-42,F-OHFV,12,24,21,3,24,21,3,0,"The plane was on a flight from Rome, Italy to ..."
3177,"April 13, 1982",1440,"Near Erzurum, Turkey",Military - U.S. Air Force,?,Erzurum - Incirlik,Lockheed C-130H,74-1678,4645,27,19,8,27,19,8,0,Failure of the No.4 engine followed by separat...
279,"February 27, 1932",?,"Off Setiba, Brazil",Aeropostale,?,?,Latecoere 28,F-AJOX,917,3,0,3,3,0,3,0,Crashed into the ocean after flying into a thu...

Estoy transformándolo a su forma correcta a la columna Fecha, utilizando un diccionario de datos, también voy cambiar al tipo de dato a datetime64[ns]

In [5]:
#Inputación de datos con replace
df['fecha'] = df['fecha'].apply(lambda x: x.replace(',',''))
df['fecha'] = df['fecha'].apply(lambda x: x.replace(' ','-'))

In [6]:
#Aquí voy creando un diccionario para cambiar los meses a numérico
def normalize_fecha(string):
    m = {
        'January': "01",
        'February': "02",
        'March': "03",
        'April': "04",
        'May': "05",
        'June': "06",
        'July': "07",
        'August': "08",
        'September': "09",
        'October': "10",
        'November': "11",
        'December': "12"
        }

    fecha = string.split("-")
    mes =  fecha[0]
    dia =  fecha[1]
    anio = fecha[2]

    try:
        out = str(m[mes])
        return anio + "-" +  out + "-" + dia
    except:
        raise ValueError('No es un mes')

In [7]:
df['fecha'] = df['fecha'].apply(lambda x: normalize_fecha(x))
df['fecha'] = pd.to_datetime(df['fecha'])

Estoy transformándolo a su forma correcta a la columna Date del dataset adicional, utilizando un diccionario de datos, también voy cambiar al tipo de dato a datetime64[ns]

In [8]:
#Inputación de datos con replace
df1['Date'] = df1['Date'].apply(lambda x: x.replace(',',''))
df1['Date'] = df1['Date'].apply(lambda x: x.replace(' ','-'))
df1['Date'].sample(5)

9914    Feb-12-1934
5158    Dec-29-1977
9254    Feb-26-1941
475     Mar-27-2014
3866    Dec-24-1986
Name: Date, dtype: object

In [9]:
#Aquí voy creando un diccionario para cambiar los meses a numérico
def normalize_Date(string):
    m = {
        'Jan': "01",
        'Feb': "02",
        'Mar': "03",
        'Apr': "04",
        'May': "05",
        'Jun': "06",
        'Jul': "07",
        'Aug': "08",
        'Sep': "09",
        'Oct': "10",
        'Nov': "11",
        'Dec': "12"
        }

    fecha = string.split("-")
    mes =  fecha[0]
    dia =  fecha[1]
    anio = fecha[2]

    try:
        out = str(m[mes])
        return anio + "-" +  out + "-" + dia
    except:
        raise ValueError('No es un mes')

In [10]:
df1['Date'] = df1['Date'].apply(lambda x: normalize_Date(x))
df1['Date'] = pd.to_datetime(df1['Date'])

Primero estoy normalizando la columna de "HORA declarada" a "hora_declarada", 
luego voy Transformando los valores de la nueva columna hora_declarada a
sus valores correctos

In [11]:
df['hora_declarada'] = df['HORA declarada']
df = df.drop(['HORA declarada'], axis=1)

In [12]:
def normalize_hour(value):
    value = value.replace('?', '00:00')
    value = value.replace('c', '')
    value = value.replace('Z', '')
    value = value.replace('c:', '')
    value = value.replace(' ', '')
    value = value.replace(':', '')
    value = value.replace(';', '')
    
    if ':' not in value:
        return value

    elif value[0] == ':':
        return f'00{value}'

    elif value[-1] == ':':
        return f'{value}00'

    elif len[value] == 4:
        return '0' + value
    else:
        return value
df['hora_declarada'] = df['hora_declarada'].apply(lambda x: normalize_hour(x))

In [13]:
def normalize_hour(value):
    if ':' not in value:
        return f'{value[:2]}:{value[-2:]}'
    else:
        return value
df['hora_declarada'] = df['hora_declarada'].apply(lambda x: normalize_hour(x))
#df['hora_declarada']

In [14]:
#transformando algunos valores atípicos el cual no suceden en la realidad
df['hora_declarada'] = df['hora_declarada'].replace('91:15','19:15') 
df['hora_declarada'] = df['hora_declarada'].replace('90:00','09:00') 
df['hora_declarada'] = df['hora_declarada'].replace('24:45','23:45') 
df['hora_declarada'] = df['hora_declarada'].replace('5008','05:08')

In [15]:
'''df['hora_declarada'] = pd.to_datetime(df['hora_declarada'], format='%H:%M') - pd.to_datetime(df['hora_declarada'], format='%H:%M').dt.normalize()
print(df['hora_declarada'])'''

"df['hora_declarada'] = pd.to_datetime(df['hora_declarada'], format='%H:%M') - pd.to_datetime(df['hora_declarada'], format='%H:%M').dt.normalize()\nprint(df['hora_declarada'])"

In [16]:
#para darme cuenta de cuantos hay de cada uno
df['aux_declarada'] = df['hora_declarada'].apply(lambda x: len(x))
df['aux_declarada'].value_counts() # 02:09Z, c 02:00, c 12:00, 03:50Z, :18

5    5008
Name: aux_declarada, dtype: int64

Voy normalizando la columna "Date" del dataset adicional de "Date" a "date_hf", para que pueda identificar mejor
luego voy Transformando los valores de la nueva columna date a
sus valores correctos

In [17]:
df1['date_hf'] = df1['Date']
df1 = df1.drop(['Date'], axis=1)

Normalizo el dataset adcional la columna  'Operator' a 'operator_hf'

In [18]:
df1['operator_hf'] = df1['Operator']
df1 = df1.drop(['Operator'], axis=1)

In [19]:
#pd.unique(df1['date'])
#pd.unique(df1['operator_hf'])
#pd.unique(df1['A/C Type'])
#pd.unique(df1['Location'])
#pd.unique(df1['Fatalities'])
#pd.unique(df1['Registration'])

transformando datos del dataset adicional en las siguientes columnas como: all_borad y entre otros, ya que posee muchos "-" y cambiaré por el que más se repita de la columnas

In [20]:
#transformando algunos valores atípicos el cual no suseden en la realidad

#el que mayor se repite en este caso es '3'
df1['operator_hf'] = df1['operator_hf'].fillna(df1['operator_hf'].value_counts().index[0])

In [21]:
df1['operator_hf'].value_counts().index[0]

'Wyman Pilot Services'

In [22]:
#normalicé la columna A/C Type
df1['ac_type_hf'] = df1['A/C Type']
df1 = df1.drop(['A/C Type'], axis=1)

In [23]:
#normalicé la columna Location
df1['location_hf'] = df1['Location']
df1 = df1.drop(['Location'], axis=1)

In [24]:
#el que mayor se repite en este caso es '3'
df1['location_hf'] = df1['location_hf'].fillna(df1['location_hf'].value_counts().index[0])

In [25]:
#normalicé la columna Fatalities
df1['fatalities_hf'] = df1['Fatalities']
df1 = df1.drop(['Fatalities'], axis=1)

In [26]:
#normalicé la columna Registration
df1['registration_hf'] = df1['Registration']
df1 = df1.drop(['Registration'], axis=1)

In [27]:
#el que mayor se repite en este caso es '3'
df1['registration_hf'] = df1['registration_hf'].fillna(df1['registration_hf'].value_counts().index[1])

In [28]:
df1['registration_hf'] = df1['registration_hf'].replace('-',df1['registration_hf'].value_counts().index[1])

Al fin ya quedó bien el dataset adicional

In [29]:
df1.head()

,date_hf,operator_hf,ac_type_hf,location_hf,fatalities_hf,registration_hf
0,2022-10-27,Wyman Pilot Services,Canadair CL-415,"Linguaglossa, Sicily",2,I-DPCN
1,2022-08-18,ALM Holding,Cessna 340,"Watsonville, California",2,N740WJ
2,2022-08-14,Wyman Pilot Services,Piper PA-31-310 Navajo,"La Libertad, Campeche",1,I-DPCN
3,2022-07-17,Gold Aero Aviation,Piper PA-46 (Malibu/Meridian/Mirage/Matrix/M-C...,"North Las Vegas, Nevada",2,N97CX
4,2022-07-15,Wyman Pilot Services,PZL-Mielec AN-2,"Prochnookopskaya, Krasnodar Krai",2,RA-02240

Normalización de la columna Ruta a ruta_del_accidente

In [30]:
df['ruta_del_accidente'] = df['Ruta']
df = df.drop(['Ruta'], axis=1)

Normalizo la columna  'OperadOR' a operador

In [31]:
df['operador'] = df['OperadOR']
df = df.drop(['OperadOR'], axis=1)

voy a reemplazar "?" por nan, para que asi me facilite los demas pasos y pueda llenar el modulo de fillna  con la ayuda de un for

In [32]:
df.replace( '?', np.nan, inplace=True)

In [33]:
df.head(5)

,fecha,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,hora_declarada,aux_declarada,ruta_del_accidente,operador
0,1908-09-17,NaN,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",17:18,5,"Fort Myer, Virginia",Military - U.S. Army
1,1909-09-07,NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,00:00,5,"Juvisy-sur-Orge, France",NaN
2,1912-07-12,NaN,Test flight,Dirigible,NaN,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,06:30,5,"Atlantic City, New Jersey",Military - U.S. Navy
3,1913-08-06,NaN,NaN,Curtiss seaplane,NaN,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,00:00,5,"Victoria, British Columbia, Canada",Private
4,1913-09-09,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...,18:30,5,Over the North Sea,Military - German Navy

In [34]:
df.isna().sum()

fecha                        0
flight_no                 3682
route                      762
ac_type                     13
registration               272
cn_ln                      667
all_aboard                  17
PASAJEROS A BORDO          221
crew_aboard                219
cantidad de fallecidos       8
passenger_fatalities       235
crew_fatalities            235
ground                      44
summary                     59
hora_declarada               0
aux_declarada                0
ruta_del_accidente           5
operador                    10
dtype: int64

Voy a llenar los valores nulos a las columnas que restan por el valor que más se repite, con la ayuda de un for que va a recorrer cada columna de cada tipo de formato "object" por ahora y asi ahorrar comandos de código, en realidad todos estan de tipo object asi que nos ahorramos tiempo

In [35]:
#VALORES CATEGÓRICOS: INPUT EN DATOS NULOS
# Iteramos sobre cada columna de los dataframes
for col in df.columns:
    # Revisamos si la columna son categóricas (object)
    if df[col].dtypes == 'object':
        # Cambiamos los faltantes con los valor más frecuente
        df = df.fillna(df[col].value_counts().index[0])

visualizamos con el módulo isna() que todo está sin datos nulos

In [36]:
#df.isna().sum()

Toca normalizar las demás columnas que aun faltan

In [37]:
df['pasajeros_a_bordo'] = df['PASAJEROS A BORDO']
df = df.drop(['PASAJEROS A BORDO'], axis=1)
#normalizo la columna cantidad de fallecidos
df['cantidad_de_fallecidos'] = df['cantidad de fallecidos']
df = df.drop(['cantidad de fallecidos'], axis=1)
#normalizo la columna de route
df['ruta_completa'] = df['route']
df = df.drop(['route'], axis=1)

Aquí voy haciendo unique para tener una mejor visualización de de los registros de cada columna

In [38]:
#pd.unique(df['fecha']) # ok Date of accident,  in the format - January 01, 2001
#pd.unique(df['hora_declarada']) # casi ok Hora local, en 24 h. 
#pd.unique(df['ruta_del_accidente']) # ok: ruta lugar del accidente, 'Fort Myer, Virginia', 'Juvisy-sur-Orge, France'
#pd.unique(df['ac_type']) # Aircraft type = tipo de aeronave
#pd.unique(df['operador']) # ? en el index 67 y 684 'Military - U.S. Army', '?', 'Military - U.S. Navy','South Sudan Supreme Airlines',
#pd.unique(df['flight_no'])# 718 / 2, 229, CAM5763, V-1104, 526A, LZ 129, Z92100
#'Ruta' es el lugar del accidente, 'route' dice de dónde a dónde iba el vuelo
#pd.unique(df['ruta_completa'])# Ruta completa o parcial del vuelo antes del accidente, Demostration, la columna habla de aeroupuertos, Air show', 'Test flight'
#pd.unique(df['registration'])# eliminar ? casi = q flight_no '4610', '5125', 'RA-26085'
#pd.unique(df['cn_ln']) # numero de fuselaje cn: contruccion number, ln, line fuselaje number, cn 45304 ln 1, cn 29171 / ln 553 reemplazar por algo a ? '1', '?', '77', ..., 'E-325', '5125', '12310'
#pd.unique(df['all_aboard']) # '1', '?', '77', ..., 'E-325', '5125', '12310'
#pd.unique(df['pasajeros_a_bordo']) # '1', '0', '?', '12', '6', '4', '5', '2', '3', TODO ENTERO
#pd.unique(df['crew_aboard']) # '1', '5', '?', '41', '19', '2', '3', TODO ENTERO
#pd.unique(df['cantidad_de_fallecidos']) # ok '1', '5', '14', '28', '17', '19', '20' TODO ENTERO
#pd.unique(df['passenger_fatalities']) #Muerte de pasajeros '1', '0', '?', '2', '12', '4', '5', '3' TODO ENTERO
#pd.unique(df['crew_fatalities']) #fatalidades_de_la_tripulación'0', '5', '1', '?', '17', TODO ENTERO
#pd.unique(df['ground'])#tierra, suelo, gente q estaba en suelo cuando impacto el avion, '0', '10', '1', '5', '?' TODO ENTERO
#pd.unique(df['summary'])# ok resumen
# usar boxplot para los outliers

In [39]:
df.columns

Index(['fecha', 'flight_no', 'ac_type', 'registration', 'cn_ln', 'all_aboard',
       'crew_aboard', 'passenger_fatalities', 'crew_fatalities', 'ground',
       'summary', 'hora_declarada', 'aux_declarada', 'ruta_del_accidente',
       'operador', 'pasajeros_a_bordo', 'cantidad_de_fallecidos',
       'ruta_completa'],
      dtype='object')

transformando datos en las siguientes columnas del dataset proporcionado como: all_borad y entre otros, ya que posee muchos "-" y cambiaré por el que más se repita de la columna

In [40]:
#transformando algunos valores atípicos el cual no suseden en la realidad

#el que mayor se repite en este caso es '3'
df['all_aboard'] = df['all_aboard'].replace('-',df['all_aboard'].value_counts().index[0]) 
#el que mayor se repite en este caso es 'Douglas DC-3'
df['ac_type'] = df['ac_type'].replace('-',df['ac_type'].value_counts().index[0]) 
#el que mayor se repite en este caso es 'Aeroflot'
df['operador'] = df['operador'].replace('-',df['operador'].value_counts().index[1]) 
#el que mayor se repite en este caso es 1
df['flight_no'] = df['flight_no'].replace('-',df['flight_no'].value_counts().index[1]) 
#el que mayor se repite en este caso es 'Training'
df['ruta_completa'] = df['ruta_completa'].replace('-',df['ruta_completa'].value_counts().index[1]) 
#el que mayor se repite en este caso es 49
df['registration'] = df['registration'].replace('-',df['registration'].value_counts().index[1]) 
#el que mayor se repite en este caso es 1
df['cn_ln'] = df['cn_ln'].replace('-',df['cn_ln'].value_counts().index[1]) 
#el que mayor se repite en este caso es 0
df['pasajeros_a_bordo'] = df['pasajeros_a_bordo'].replace('-',df['pasajeros_a_bordo'].value_counts().index[0]) 
#el que mayor se repite en este caso es 3
df['crew_aboard'] = df['crew_aboard'].replace('-',df['crew_aboard'].value_counts().index[0]) 
#el que mayor se repite en este caso es 1
df['cantidad_de_fallecidos'] = df['cantidad_de_fallecidos'].replace('-',df['cantidad_de_fallecidos'].value_counts().index[0]) 
#el que mayor se repite en este caso es 1
df['passenger_fatalities'] = df['passenger_fatalities'].replace('-',df['passenger_fatalities'].value_counts().index[0]) 
#el que mayor se repite en este caso es 2
df['crew_fatalities'] = df['crew_fatalities'].replace('-',df['crew_fatalities'].value_counts().index[0]) 
#el que mayor se repite en este caso es 0
df['ground'] = df['ground'].replace('-',df['ground'].value_counts().index[0]) 
#el que mayor se repite en este caso es 'Crashed under unknown circumstances.'
df['summary'] = df['summary'].replace('-',df['summary'].value_counts().index[1])

como se visualiza en la siguiente celda es que la mayoría de los choquees de los aviones es por circunstancias desconocidas

In [41]:
df['summary'].value_counts().index[1]

'Crashed while en route.'

In [42]:
pd.unique(df['ruta_completa'])

array(['Demonstration', 'Air show', 'Test flight', ...,
       'Naypyidaw - Anisakan', 'Cagayan de Oro-Lumbia - Jolo',
       'Petropavlovsk - Palana'], dtype=object)

In [43]:
df.sample(5)

,fecha,flight_no,ac_type,registration,cn_ln,all_aboard,crew_aboard,passenger_fatalities,crew_fatalities,ground,summary,hora_declarada,aux_declarada,ruta_del_accidente,operador,pasajeros_a_bordo,cantidad_de_fallecidos,ruta_completa
1749,1959-01-27,1,Avro 688,G-AGRG,1255,6,6,0,2,0,The cargo plane overran the runway while takin...,06:09,5,"Brindisi, Italy",Air Charter,0,2,England to Australia
969,1947-06-19,121,Lockheed 049-46-21 Constellation,NC88845,2045,36,9,7,7,0,While on a flight originating in New York and ...,23:40,5,"Al Mayadin, Syria",Pan American World Airways,27,14,Karachi - Istanbul
1566,1956-03-28,1,Douglas C-47B,G-AMRB,16670/33418,3,3,0,1,0,During an instrument approach at night the pil...,00:00,5,"Largs, England",Starways,0,1,Liverpool - Glasgow
4412,2002-10-01,1,Ilyushin IL-38 / Ilyushin IL-38,IN302 / IN304,IL38002/IL38004,12,12,0,12,5,The two Navy aircraft flying in formation in a...,00:00,5,"Vasco, India",Military - Indian Navy,0,12,Military exercises
1977,1962-07-30,1,Douglas DC-3,F-BAOE,11769,8,8,0,4,0,"After rotation, the airplane encountered diffi...",00:00,5,"Coulommiers, France",Air France,0,4,Training

Voy a crear una nueva columna llamada pais sacando de la columna ruta_de_accidente, con la ayuda de la lectura de un cities.csv, el cual me va a ayudar, que de acuerdo a la ciudad de la ruta del accidente le asigne al pais que le corresponde.

In [44]:
df2 = pd.read_csv('./cities.csv')

list1 = df2['country_name'].str.lower().tolist()
list2 = df2['state_name'].str.lower().tolist()
list3 = df2['name'].str.lower().tolist()

In [45]:
def get_country(value):
    new_value = value.split(', ')
    try:
        index = list1.index(new_value[-1].lower())
    except:
        try:
            index = list2.index(new_value[-1].lower())
        except:
            try:
                index = list3.index(new_value[-1].lower())
            except:
                return 'no encontrado'
    return list1[index].title()

get_country('Off West Hartlepool, England')

'United Kingdom'

In [46]:
df['pais'] = df['ruta_del_accidente'].apply(lambda x: get_country(x))
df.head()

,fecha,flight_no,ac_type,registration,cn_ln,all_aboard,crew_aboard,passenger_fatalities,crew_fatalities,ground,summary,hora_declarada,aux_declarada,ruta_del_accidente,operador,pasajeros_a_bordo,cantidad_de_fallecidos,ruta_completa,pais
0,1908-09-17,1,Wright Flyer III,49,1,2,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",17:18,5,"Fort Myer, Virginia",Military - U.S. Army,1,1,Demonstration,United States
1,1909-09-07,1,Wright Byplane,SC1,1,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,00:00,5,"Juvisy-sur-Orge, France",Military - U.S. Air Force,0,1,Air show,France
2,1912-07-12,1,Dirigible,49,1,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,06:30,5,"Atlantic City, New Jersey",Military - U.S. Navy,0,5,Test flight,United States
3,1913-08-06,1,Curtiss seaplane,49,1,1,1,0,1,0,The first fatal airplane accident in Canada oc...,00:00,5,"Victoria, British Columbia, Canada",Private,0,1,Training,Canada
4,1913-09-09,1,Zeppelin L-1 (airship),49,1,20,3,0,2,0,The airship flew into a thunderstorm and encou...,18:30,5,Over the North Sea,Military - German Navy,0,14,Training,no encontrado

Voy a crear una nueva columna llamada country_hf sacando de la columna location_hf, voy a llamar a la misma función anterior para que me obtenga el pais de la columna location_hf el pais que le corresponde

In [47]:
df1['country_hf'] = df1['location_hf'].apply(lambda x: get_country(x))
df1.head()

,date_hf,operator_hf,ac_type_hf,location_hf,fatalities_hf,registration_hf,country_hf
0,2022-10-27,Wyman Pilot Services,Canadair CL-415,"Linguaglossa, Sicily",2,I-DPCN,Italy
1,2022-08-18,ALM Holding,Cessna 340,"Watsonville, California",2,N740WJ,United States
2,2022-08-14,Wyman Pilot Services,Piper PA-31-310 Navajo,"La Libertad, Campeche",1,I-DPCN,Mexico
3,2022-07-17,Gold Aero Aviation,Piper PA-46 (Malibu/Meridian/Mirage/Matrix/M-C...,"North Las Vegas, Nevada",2,N97CX,United States
4,2022-07-15,Wyman Pilot Services,PZL-Mielec AN-2,"Prochnookopskaya, Krasnodar Krai",2,RA-02240,Russia

In [48]:
df1.isnull().sum()

date_hf            0
operator_hf        0
ac_type_hf         0
location_hf        0
fatalities_hf      0
registration_hf    0
country_hf         0
dtype: int64

Exportar a csv

In [49]:
df.to_csv('AccidentesAviones_ok.csv', index=False)

#exporté tambien el dataset adicicional

df1.to_csv('HumanFactor_ok.csv', index=False)